@import './../variables.less';

.nav-name, .subtitle, .nav-links {
    & > span, & > a {
        padding: 0 2%;
        text-align: left;
    }
}

.nav {
    overflow-y: hidden;
    width: 100%;
    
    .nav-name {
        background-color: rgba(50,50,50,0.4);
        border-bottom: 1px solid @border-color;
        font-size: 30px;
        width: 100%;

        a {
            color: white;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                font-weight: bold;
                transition: 0.3s;
            }
        }
    }

    .nav-container {
        background-color: black;
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 100px;
        position: absolute;
        width: 100%;

        & > div {
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .nav-links {
            background-color: rgba(0,0,0,0.7);
            border-bottom: 6px solid @border-color;
            padding: 0;
    
            ul {
                margin: 0;
                padding: 0;
    
                li {
                    display: inline-block;
                    font-size: 0.9rem;
                    margin: 5px 0 0;
                    padding: 0 10px;
                    transition: 0.3s text-decoration;
    
                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .nav-gallery {
        .image-gallery-slide {
            max-height: 100px;
            overflow-y: hidden;
        }
    }
}

.subtitle {
    background-color: #2d333a;

    a, .subtitle-text {
        text-transform: uppercase;
    }

    a {
        color: gray;
        font-weight: 400;
    }

    .subtitle-text {
        color: white;
        font-weight: bold;
    }
}

.square {
    color: red;
    display: inline;
}

@media only screen and (max-width: 50px) {
    .square {
        display: none;
    }
}
