.vertical-image-ladder {
    display: flex;

    .image-column {
        display: flex;
        flex-direction: column;

        .image-thumbnail {
            max-height: 200px;
            width: 200px;
        }
    }
}