@import './../variables.less';

.page.home-page {
    height: calc(100% - 179px);

    .home-splash {
        width: 100%;
    }

    .home-splash {
        background: url("../../media/home/viewpersp.jpg");
        background-size: cover;
        height: 100%;
    }
}
