html {
    width: 100%;
}

body, #root, .page {
    margin: 0;
    padding: 0;
}

body, #root {
    background-color: black;
}

#root {
    font-size: 1.1em;
    height: 100vh;
}

#root, .page {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 0;
}

#page-container {
    align-items: center;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    height: 100%;
    width: 100%;

    & > div {
        height: 100%;
        width: 100%;
    }
}
